*{
margin: 0;
padding: 0;
}

body{
background-color: #83997F;
}

.logo{
    height: 67%;
    width: 67%;
    padding-left: 30%;
    padding-bottom: 3%;
    padding-right: 5%;
}

.letralogo{
    font-size: 20px;
    height: 70%;
    width: 70%; 
}

.linkbarra{
    color:#83997F;
    font-family: Italiana;
    font-size: 30px;
    justify-content: left;
    text-decoration: none;
    letter-spacing: 1px;
}

